{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2 class="page-header">Edit And Push</h2>
      <dl class="des-list dl-horizontal">
        <dd>
        <label for="push-text" class="col-sm-2 control-label">Message to push</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="6" id="push-text" name="push-text" placeholder="type your message"></textarea>
        </div>
        </dd>
        <br>

        <dd class="options">
        <label for="" class="col-sm-2 control-label">Option</label>
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary">Push to App</button>
        </div>
        <br>
        </dd>

      </dl>
      <hr>
    </div>
  </div>
</div>
<script>
  $(".options .btn-primary").click(function(event){
    var pushtext = $("#push-text").val();

    $.post("/appbg/uvindex/push/"+$("body").attr("lan"), // 发送推送请求
      {
        pushtext: pushtext 
      }, function(data){
      if (data.ret === 1) {
        alert("推送请求发送成功, 服务器正在推送");
      } else {
        alert("请求失败");
      }
    }, "json");
  });
</script>
{% endblock %}
