{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Name }}</h1>

      <h2>Edit Brand</h2>
      <hr>
      <form id="form-edit-brand" class="form-edit-brand" role="form" enctype="multipart/form-data" method="post" action="/appbg/brand/addbrand/{{ language }}"> 
        <dl class="des-list dl-horizontal">
          <h3>Brand </h3>
          <dd>
          <label for="brand-name" class="col-sm-2 control-label">name</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="name" name="name" value="{{ brand.name }}" placeholder="name">
          </div>
          </dd>
          <br>

          <dd>
          <label for="brand-summary" class="col-sm-2 control-label">Sort Num</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="2" id="summary" name="summary" placeholder="Sort Ascending by this number">{{ brand.summary }}</textarea>
          </div>
          </dd>
          <br>

          <dd>
          <label for="brand-picture" class="col-sm-2 control-label">Picture</label>
          <div class="col-sm-6">
            <img src="/img/brand/{{ brand._id.toString() }}.jpg" width="300px" height="186px" id="brand-picture">
            <br>
            <label>Choose a new picture.</label>
            <input type="file" name="picture">
          </div>
          </dd>
          <br>

          <dd>
          <label for="brand-options" class="col-sm-2 control-label">Options</label>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">save</button>
            <a href="/appbg/brand/{{language}}" class="btn btn-default">back</a>
          </div>
          </dd>
          <br>
        </dl>
      </form>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
