{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
    <div class="navbar-collapse collapse">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" id="witch" witch="1">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2 class="sub-header">User Coupon List</h2>
      <button class="btn btn-primary witch1" data-toggle="modal" data-target="#modal-add-coupon">Add coupon</button>
      <button class="btn btn-danger witch1">Delete all</button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Content</th>
              <th class="col-sm-2">Detail</th>
              <th class="col-sm-2">Remain</th>
              <th class="col-sm-2">Expires Start</th>
              <th class="col-sm-2">Expires End</th>
              <th class="col-sm-2">Possibility</th>
              <th class="col-sm-2">Options</th>
            </tr>
          </thead>
          <tbody id="tbody1">
            {%for coupon in nomalcoupons%}
            <tr data-id="{{ coupon._id.toString() }}">
              <td class="normal">{{coupon.content}}</td>
              <td class="normal">{{coupon.detail}}</td>
              <td>{{coupon.remain}}</td>
              <td>{{coupon.expiress | date("Y-m-d")}}</td>
              <td>{{coupon.expirese | date("Y-m-d")}}</td>
              <td>{{coupon.possibility}}</td>
              <td>
                <ul class=list-inline>
                  <li><a href="#" class="a-del-coupon">delete</a></li>
                </ul>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      <h2 class="sub-header">Worker Coupon List</h2>
      <button class="btn btn-primary witch2" data-toggle="modal" data-target="#modal-add-coupon">Add coupon</button>
      <button class="btn btn-danger witch2">Delete all</button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Content</th>
              <th class="col-sm-2">Detail</th>
              <th class="col-sm-2">Remain</th>
              <th class="col-sm-2">Expires Start</th>
              <th class="col-sm-2">Expires End</th>
              <th class="col-sm-2">Possibility</th>
              <th class="col-sm-2">Options</th>
            </tr>
          </thead>
          <tbody id="tbody2">
            {%for coupon in specialcoupons%}
            <tr data-id="{{ coupon._id.toString() }}">
              <td class="normal">{{coupon.content}}</td>
              <td class="normal">{{coupon.detail}}</td>
              <td>{{coupon.remain}}</td>
              <td>{{coupon.expiress | date("Y-m-d")}}</td>
              <td>{{coupon.expirese | date("Y-m-d")}}</td>
              <td>{{coupon.possibility}}</td>
              <td>
                <ul class=list-inline>
                  <li><a href="#" class="a-del-coupon">delete</a></li>
                </ul>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-add-coupon">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Coupon</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="coupon-content" class="col-sm-3 control-label">Coupon content</label>
            <div class="col-sm-8">
              <textarea rows="2" class="form-control" id="coupon-content" name="coupon-content" placeholder="Contents"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="coupon-detail" class="col-sm-3 control-label">Coupon detail</label>
            <div class="col-sm-8">
              <textarea rows="2" class="form-control" id="coupon-detail" name="coupon-detail" placeholder="Detail"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="coupon-possibility" class="col-sm-3 control-label">Coupon probability</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="coupon-possibility" name="coupon-possibility" placeholder="Probability: 0.01">
            </div>
          </div>

          <div class="form-group">
            <label for="coupon-remain" class="col-sm-3 control-label">Coupon remain</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="coupon-remain" name="coupon-remain" placeholder="Remain Number: 100000">
            </div>
          </div>

          <div class="form-group">
            <label for="coupon-expires-start" class="col-sm-3 control-label">Coupon Expires Start</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="coupon-expires-start" name="coupon-expires-start" placeholder="Expires Start: 2014-5-6">
            </div>
          </div>

          <div class="form-group">
            <label for="coupon-expires-end" class="col-sm-3 control-label">Coupon Expires End</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="coupon-expires-end" name="coupon-expires-end" placeholder="Expires End: 2016-5-6">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div><!-- End modal -->
<script>
  // 改变选择的群组
  $(".witch1").click(function(event){
    $("#witch").attr("witch", "1");
  });
  $(".witch2").click(function(event){
    $("#witch").attr("witch", "2");
  });
  $('.main .btn-danger').click(function(event){
    if (!confirm('Delete All?')) {       // 要求确认
      return ;
    }
    $.post('/appbg/coupon/delall/'+$("body").attr("lan"),
    {
      type : $("#witch").attr("witch")
    },function(data){
    if (data.ret === 1) {
      return $("#tbody"+data.val+" tr").remove();
    }
    return alert("Fail to delete.");
    },'json');
  });
  $('tbody').click(function(event){
    if ($(event.target).context.className === "a-del-coupon") {
      event.preventDefault();       // 页面的焦点不变
      var tr = $(event.target).parent().parent().parent().parent();
      var couponid = tr.attr("data-id");
      deleteCoupon(couponid, tr);
    }
  });
  // 删除优惠券
  function deleteCoupon(id, target){
    if (!confirm('Delete it?')) {       // 要求确认
      return ;
    }
    $.post(
    '/appbg/coupon/del/',
    {
      _id: id
    }, function(data){
    if (data.ret === 1){
      return target.remove();
    }
    alert("Fail to delete.");
    }, 'json');
  }
  $(".modal-footer .btn-primary").click(function(event){
    var content     = $("#coupon-content").val();
    var detail      = $("#coupon-detail").val();
    var remain      = $("#coupon-remain").val();
    var possibility = $("#coupon-possibility").val();
    var expiress    = $("#coupon-expires-start").val();
    var expirese    = $("#coupon-expires-end").val();
    if (!content.length){
      alert("content can not be null.");
      return ;
    }
    if (!detail.length){
      alert("detail can not be null.");
      return ;
    }
    if (isNaN(parseInt(remain))){
      alert("remain is not available.");
      return ;
    }
    if (isNaN(parseFloat(possibility)) || parseFloat(possibility) >= 1){
      alert("possiblity is not available.");
      return ;
    }
    if (parseDate(expiress) === null){
      alert("expires start is not available.");
      return ;
    }
    if (parseDate(expirese) === null){
      alert("expires end is not available.");
      return ;
    }
    $.post(
      '/appbg/coupon/new/'+$("body").attr("lan"),
      {
        content     : content,
        detail      : detail,
        remain      : remain,
        possibility : possibility,
        expiress    : parseDate(expiress),
        expirese    : parseDate(expirese),
        type        : $("#witch").attr("witch")
      }, function(data){
      if (data.ret === 1) {
        coupon = data.val;
        var expiress = new Date(coupon.expiress);
        var Y = expiress.getFullYear();
        var M = expiress.getMonth() - -1; M = M.toString().length<2 ? "0" + M : M;
        var D = expiress.getDate(); D = D.toString().length<2 ? "0" + D : D;
        var strStart = Y + "-" + M + "-" + D;
        var expirese = new Date(coupon.expirese);
        var Y = expirese.getFullYear();
        var M = expirese.getMonth() - -1; M = M.toString().length<2 ? "0" + M : M;
        var D = expirese.getDate(); D = D.toString().length<2 ? "0" + D : D;
        var strEnd = Y + "-" + M + "-" + D;
        var new_raw =
            '<tr data-id="' + coupon._id + '">' +
              '<td class="normal">' + coupon.content + '</td>' +
              '<td class="normal">' + coupon.detail + '</td>' +
              '<td>' + coupon.remain + '</td>' +
              '<td>' + strStart +'</td>' +
              '<td>' + strEnd +'</td>' +
              '<td>' + coupon.possibility + '</td>' +
              '<td>' +
                '<ul class=list-inline>' +
                  '<li><a href="#" class="a-del-coupon">delete</a></li>' + 
                '</ul>' +
              '</td>' +
            '</tr>';
          console.log(new_raw);
          console.log('tbody'+coupon.type);
        $('#tbody'+coupon.type).append(new_raw);
        return $('#modal-add-coupon').modal('hide');
      }
      return alert("fail to add coupon.");
    }, 'json');
  });
  // 解析日期
  function parseDate(str){
    var results = str.match(/^ *(\d{4})-(\d{1,2})-(\d{1,2}) *$/);
    if (results && results.length>3){
      return new Date(parseInt(results[1]),parseInt(results[2])-1,parseInt(results[3]));
    }
    return null;
  }
</script>
{% endblock %}

