{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="export-excel" href="/appbg/userctrl/exportexcel/">Export to excel</a></li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li><a class="export-excel"></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2 class="sub-header">App User List</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Nickname</th>
              <th class="col-sm-2">Worker<small class="alert-danger">(click to change state)</small></th>
              <th class="col-sm-3">Tel</th>
              <th class="col-sm-3">E-mail</th>
              <th class="col-sm-3">Share times</th>
              <th class="col-sm-3">Click times</th>
              <th class="col-sm-3">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for user in appusers %}
            <tr data-id="{{ user._id.toString() }}">
              <td>{{user.nickname}}</td>
              <td>{%if user.isworker === 0%}no{%else%}yes{%endif%}<a href="#"><span state="" class="label {%if user.disable%}label-danger{%else%}label-primary{%endif%}">{%if user.disable%}Disable{%else%}Enable{%endif%}</span></a></td>
              <td>{%if user.tel === undefined %}none{%else%}{{user.tel}}{%endif%}</td>
              <td>{%if user.email === undefined %}none{%else%}{{user.email}}{%endif%}</td>
              <td>{{ user.sharenum }}</td>
              <td>{{ user.clicknum }}</td>
              <td>
                <ul class=list-inline>
                  <li><a href="#" class="a-del-user">delete</a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // 为了使新增的按钮上绑定事件，直接在table上绑定点击事件，再检测是哪个元素
  $(".table-striped tbody").click(function(event){
    event.preventDefault();   // 焦点不变
    if ($(event.target).context.className === "a-del-user"){  // 点击删除用户
      delete_user(event);
    }
    if ($(event.target).attr("state") !== undefined){         // 点击改变用户状态
      var _id = $(event.target).parent().parent().parent().attr("data-id");
      if($(event.target).text() === "Enable"){
        changestate({disable: true}, _id, event.target);
        } else {
        changestate({disable: false}, _id, event.target);
      }
    }
  });

  function changestate(state, id, target){
    $.post("/appbg/userctrl/changestate/"+id,
      state,function(data){
        if (data.status){
          if (state.disable){
            $(target).text("Disable");
            $(target).removeClass("label-primary").addClass("label-danger");
            } else {
            $(target).text("Enable");
            $(target).removeClass("label-danger").addClass("label-primary");
          }
        }
    },"json");
  };

  function delete_user(event){
    if (!confirm('Delete it?')) {       // 要求确认
      return;
    }
    var tr = $(event.target).parents("tr");
    $.post("/appbg/userctrl/deluser/",{
      id: tr.attr("data-id")
      }, function(data) {
      data = JSON.parse(data);
      if (!data.status) {
        alert("Fail to delete.");
        return;
      }
      tr.remove();
    });
  };

</script>
{% endblock %}
