{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">宝岛眼镜App后台</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2>编辑文本</h2>
      <dl class="des-list dl-horizontal">
        <dd>
        <label for="news-title" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="news-title" name="news-title" value="{{ news.title }}">
        </div>
        </dd>
        <br>

        <dd>
        <label for="news-summary" class="col-sm-2 control-label">导语</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="3" id="news-summary" name="news-summary">{{ news.summary }}</textarea>
        </div>
        </dd>
        <br>

        <dd>
        <label for="news-detail" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-6">
          <textarea class="form-control" rows="6" id="news-detail" name="news-detail">{{ news.detail }}</textarea>
        </div>
        </dd>
        <br>

        <dd>
        <label for="news-url" class="col-sm-2 control-label">外部链接</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="news-url" name="news-url" value="{{ news.url }}">
        </div>
        </dd>
        <br>

        <dd>
        <label for="news-options" class="col-sm-2 control-label">操作</label>
        <div class="col-sm-6">
          <button class="btn btn-primary">提交</button>
          <a href="/appbg/news/" class="btn btn-default">返回</a>
        </div>
        </dd>
        <br>

        <hr>
        <h2>编辑图片</h2>
        <dd>
        <label for="news-first-pic" class="col-sm-2 control-label">首图</label>
        <div class="col-sm-6">
          <img src="/img/news/{{ _id }}.jpg" width="300px" height="186px" id="news-first-pic">
          <form id="form-ch-pic" class="form-ch-pic" role="form" enctype="multipart/form-data" method="post" action="/appbg/news/chpic/{{ _id }}"> 
            <input type="file" name="upload">
            <br>
            <button id="ch-pic-btn" type="submit" class="btn btn-primary">更换</button>
            <iframe id="ch-pic-target" hidden="hidden"></iframe>
          </form>
        </div>
        </dd>
        <br>

        <dd>
        <label for="news-fir-pic-des" class="col-sm-2 control-label">首图描述</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="news-fir-pic-des" name="news-fir-pic-des" value="{{ news.firstpic.describe }}">
        </div>
        </dd>
        <br>

        <dd>
        <label class="col-sm-2 control-label">添加图片</label>
        <div class="col-sm-4">
          <form id="form-add-pic" class="form-add-pic" role="form" enctype="multipart/form-data" method="post" action="/appbg/news/addpic/{{ _id }}"> 
            <input type="file" name="upload">
            <br>
            <button type="submit" class="btn btn-primary">添加图片</button>
            <iframe id="add-pic-target" hidden="hidden"></iframe>
          </form>
        </div>
        </dd>
        <br>

        <dl class="added-pics">
        {% for index, img in news.imgs %}
        <dd data-id={{_id}}{{index}}>
        <label for="news-first-pic" class="col-sm-2 control-label">图片[{{index}}]</label>
        <div class="col-sm-6">
          <img src="/img/news/{{ _id }}{{index}}.jpg" width="300px" height="186px" id="news-first-pic">
          <form class="form-ch-pic" role="form" enctype="multipart/form-data" method="post" action="/appbg/news/chpic/{{ _id }}{{index}}"> 
          </form>
        </div>
        </dd>
        <br>
        {% endfor %}
        </dl>

      </dl>
      <hr>
    </div>
  </div>
</div>
<script>
  // 绑定iframe为submit的返回数据接收目标
  $().ready(function(){
    document.getElementById("form-ch-pic").onsubmit = function() {
      document.getElementById("form-ch-pic").target = "ch-pic-target";
    }

    document.getElementById("form-add-pic").onsubmit = function() {
      document.getElementById("form-add-pic").target = "add-pic-target";
    }
  });

  // 监听iframe的加载事件，加载完成回调更新图片的函数
  $("#ch-pic-target").load(function(){
    var data = JSON.parse($(document.getElementById("ch-pic-target").contentDocument).text());
    if (!data.status) {
      alert("请选择512k以下的图片");
      return;
    }
    var oldsrc = $("#news-first-pic").attr("src");
    $("#news-first-pic").attr("src", oldsrc + "?" + Math.floor(Math.random()*10));
  });

  // 监听iframe的加载事件，加载完成回调更新图片的函数
  $("#add-pic-target").load(function(){
    var data = JSON.parse($(document.getElementById("add-pic-target").contentDocument).text());
    console.log(data);
    if (!data.status) {
      alert("请选择512k以下的图片");
      return;
    }
    // TODO: 更新成功，增加html页面
    var new_dd = 
    '<dd data-id="' + data.news._id.toString() + (data.news.imgs.length-1) + '">' + 
          '<label for="news-first-pic" class="col-sm-2 control-label">图片[' + (data.news.imgs.length-1) + ']</label>' + 
          '<div class="col-sm-6">' + 
            '<img src="/img/news/{{ _id }}' + (data.news.imgs.length-1) + '.jpg" width="300px" height="186px" id="news-first-pic">' +
            '<form role="form" enctype="multipart/form-data" method="post" action="/appbg/news/chpic/{{ _id }}' + (data.news.imgs.length-1) + '">' +
              '<br>' +
            '</form>' +
          '</div>' +
          '</dd>' + 
          '<br>';
   $(".added-pics").append(new_dd);
  });

</script>
{% endblock %}
