<!doctype html>
<html>
  <head>
    <meta charset="utf=8">
    <title>{% block title %}Essilor App Background{% endblock %}</title>

    {% block css_files %}
    <link rel="stylesheet" href="/css/utils/bootstrap.min.css">
    {% endblock %}

    {% block js_files %}
    <script src="/js/utils/jquery-1.10.2.min.js"></script>
    <script src="/js/utils/bootstrap.min.js"></script>
    <script src="/js/utils/bootstrap-pagination.min.js"></script>
    <link rel="stylesheet" href="/css/utils/dashboard.css"/>
    <link rel="stylesheet" href="/css/userself/base.css"/>
    {% endblock %}

    <script>
      var signout = function(event) {
        if (!confirm("sign out?"))     return false;
        $.post('/account/signout',{
          }, function(data){
          if (data.ret !== 1) {
            return alert("signout fail.");
          }
          window.location.href='/account/signin/{{language}}';
        }, 'json');
      };
      var bguserctrl = function(event) {
        $.post('/account/currentuser', {
          }, function(data){
          if (data.current_user !== "admin") {
            return alert("Only root canagement this page.");
          }
          window.location.href='/appbg/bguser/{{language}}';
        }, 'json');
      };
    </script>
  </head>

  <body lan="{{language}}">
    {% block content %}{% endblock %}
  </body>
</html>

