<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li {% if Title === 'News And Push' %}class="active"{% endif %}><a href="/appbg/news/{{language}}">News And Push</a></li>
    <li {% if Title === 'Products And Push' %}class="active"{% endif %}><a href="/appbg/product/{{language}}">Products And Push</a></li>
    <li {% if Title === 'UVIndex And Push' %}class="active"{% endif %}><a href="/appbg/uvindex/{{language}}">UVIndex And Push</a></li>
    <li {% if Title === 'Store Management' %}class="active"{% endif %}><a href="/appbg/store/{{language}}">Store Management</a></li>
    <li {% if Title === 'Brand Management' %}class="active"{% endif %}><a href="/appbg/brand/{{language}}">Brand Management</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li {% if Title === 'Tips Management' %}class="active"{% endif %}><a href="/appbg/tips/{{language}}">Tips Management</a></li>
    <li {% if Title === 'Coupon Management' %}class="active"{% endif %}><a href="/appbg/coupon/{{language}}">Coupon Management</a></li>
    <li {% if Title === 'Worker ID Management' %}class="active"{% endif %}><a href="/appbg/workerid/{{language}}">Worker ID Management</a></li>
    <li {% if Title === 'App User Management' %}class="active"{% endif %}><a href="/appbg/userctrl/{{language}}">App User Management</a></li>
    <li {% if Title === 'App Version Management' %}class="active"{% endif %}><a href="/appbg/appversion/{{language}}">App Version Management</a></li>
    <li {% if Title === 'Find Glass' %}class="active"{% endif %}><a href="/appbg/findglass/{{language}}">Find Glass</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li {% if Title === 'Background User' %}class="active"{% endif %}><a href="#" onclick="bguserctrl(); return false">Background User</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a id="signout" href="#" onclick="signout(); return false">{{ current_user }} sign out</a></li>
  </ul>
</div>
