{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2 class="sub-header">Background User List</h2>
      <button class="btn btn-primary" data-toggle="modal" data-target="#modal-add-bguser">Add new</button>
      <button class="btn btn-danger">Delete all</button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-2">Username</th>
              <th class="col-sm-3">State<small class="alert-danger">(click to change state)</small></th>
              <th class="col-sm-3">Tel</th>
              <th class="col-sm-3">E-mail</th>
              <th class="col-sm-3">Options</th>
            </tr>
          </thead>
          <tbody id="user-list">
            {% for user in users %}
            <tr data-id="{{ user._id.toString() }}">
              <td>{{user.username}}</td>
              <td><a href="#"><span state="" class="label {%if user.disable%}label-danger{%else%}label-primary{%endif%}">{%if user.disable%}Disable{%else%}Enable{%endif%}</span></a></td>
              <td>{%if user.tel === undefined %}none{%else%}{{user.tel}}{%endif%}</td>
              <td>{%if user.email === undefined %}none{%else%}{{user.email}}{%endif%}</td>
              <td>
                <ul class=list-inline>
                  <li><a href="#" class="a-del-user">delete</a></li>
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-add-bguser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Background User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="user-name" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="user-name" name="user-name" placeholder="username when signin.">
            </div>
          </div>

          <div class="form-group">
            <label for="user-password" class="col-sm-2 control-label">password</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="user-password" name="user-password" placeholder="password when signin.">
            </div>
          </div>

          <div class="form-group">
            <label for="user-confirm" class="col-sm-2 control-label">confirm</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" id="user-confirm" name="user-confirm" placeholder="confirm password.">
            </div>
          </div>

          <div class="form-group">
            <label for="user-tel" class="col-sm-2 control-label">Telephone</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="user-tel" name="user-tel" placeholder="can be none.">
            </div>
          </div>

          <div class="form-group">
            <label for="user-confirm" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="user-email" name="user-email" placeholder="can be none.">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        <button type="button" class="btn btn-primary">submit</button>
      </div>
    </div>
  </div>
</div><!-- End modal -->

<script>
  // 为了使新增的按钮上绑定事件，直接在table上绑定点击事件，再检测是哪个元素
  $(".table-striped tbody").click(function(event){
    event.preventDefault();       // 页面的焦点不变
    if ($(event.target).context.className === "a-del-user"){  // 点击删除用户
      delete_user(event);
    }
    if ($(event.target).attr("state") !== undefined){         // 点击改变用户状态
      var _id = $(event.target).parent().parent().parent().attr("data-id");
      if($(event.target).text() === "Enable"){
        changestate({disable: true}, _id, event.target);
        } else {
        changestate({disable: false}, _id, event.target);
      }
    }
  });

  function changestate(state, id, target){
    $.post("/appbg/bguser/changestate/"+id,
      state,function(data){
        if (data.status){
          if (state.disable){
            $(target).text("Disable");
            $(target).removeClass("label-primary").addClass("label-danger");
            } else {
            $(target).text("Enable");
            $(target).removeClass("label-danger").addClass("label-primary");
          }
        }
    },"json");
  };

  function delete_user(event){
    if (!confirm('Delete it?')) {       // 要求确认
      return;
    }
    var tr = $(event.target).parents("tr");
    $.post("/appbg/bguser/deluser/",{
      id: tr.attr("data-id")
      }, function(data) {
      data = JSON.parse(data);
      if (!data.status) {
        alert("Fail to delete.");
        return;
      }
      tr.remove();
    });
  };

  // 删除所有数据
  $(".btn-danger").click(function(){
    if (!confirm('Delete all?')) {       // 要求确认
      return;
    }
    $.post("/appbg/bguser/delall/",function(data){
      if(data.status) {
        $(".table-striped tbody tr").remove();
        alert("Success ..");
        } else {
        alert("Fail ..");
      }
    },"json");
  });

  // 增加用户确认
  $("#modal-add-bguser .modal-footer .btn-primary").click(function(event){
    var username = $("#user-name").val();
    var password = $("#user-password").val();
    var _confirm = $("#user-confirm").val();
    var tel      = $("#user-tel").val();
    var email    = $("#user-email").val();

    if (username === "" || password === ""){
      alert("username or password can't be none.");
      return ;
    }
    if (password !== _confirm){
      alert("confirm your password.");
      return ;
    }

    $.post("/appbg/bguser/adduser/",{
      username: username,
      password: password,
      tel:      tel,
      email:    email
      },function(data){
      if (data.ret === 2){
        alert("user exists.");
        return ;
      }
      $("#modal-add-bguser").modal("hide");
      var user = data.user;
      var new_row = 
      '<tr data-id="' + user._id.toString() + '">' +
        '<td>' + user.username + '</td>' + 
        '<td><a href="#"><span state="" class="label ' + (user.disable ? 'label-danger' : 'label-primary') + '">' + (user.disable ? 'Disable' : 'Enable') + ')</span></a></td>' +
        '<td>' + ((user.tel === undefined || user.tel === "") ? 'none' : user.tel) + '</td>' +
        '<td>' + ((user.email === undefined || user.email === "") ? 'none' : user.email) + '</td>' +
        '<td>' +
          '<ul class=list-inline>' +
            '<li><a href="#" class="a-del-user">delete</a></li>' +
            '</ul>' +
          '</td>' +
        '</tr>';
      $("#user-list").append(new_row);
    }, "json");
  });

  // 在现实modal的时候清空
  $("#modal-add-bguser").on("shown.bs.modal",function(event){
    $("#user-name").val("");
    $("#user-password").val("");
    $("#user-confirm").val("");
    $("#user-tel").val("");
    $("#user-email").val("");
  });
</script>
{% endblock %}

