{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2>Edit Store</h2>
      <hr>
      <form id="form-edit-store" class="form-edit-store" role="form" enctype="multipart/form-data" method="post" 


      action="/appbg/store/new/{{ language }}"

      > 
        <dl class="des-list dl-horizontal">
          <h3>Store </h3>
          <dd>
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="name" name="name" value="{{ store.name }}" placeholder="name">
            <input hidden="hidden" id="_id" name="_id" value="{{store._id.toString()}}">
          </div>
          </dd>
          <br>
          <dd>
          <label for="class" class="col-sm-2 control-label">Brand</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="class" name="class" value="{{ store.class }}" placeholder="brand">
          </div>
          </dd>
          <br>
          <dd>
          <label for="store-lng" class="col-sm-2 control-label">Lng</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="store-lng" name="store-lng" value="{{ store.gps[0] || "" }}" placeholder="Lng">
          </div>
          </dd>
          <br>
          <dd>
          <label for="store-lat" class="col-sm-2 control-label">Lat</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="store-lat" name="store-lat" value="{{ store.gps[1] || "" }}" placeholder="Lat">
          </div>
          </dd>
          <br>
          <dd>
          <label for="province" class="col-sm-2 control-label">Province(Reselect)</label>
            <div class="col-sm-4">
              <select class="form-control" type="text" id="province" name="province" value="{{store.province}}">
              <option>--</option>
              <option>上海</option>
              <option>北京</option>
              <option>天津</option>
              <option>河北省</option>
              <option>山西省</option>
              <option>内蒙古自治区</option>
              <option>辽宁省</option>
              <option>吉林省</option>
              <option>黑龙江省</option>
              <option>江苏省</option>
              <option>浙江省</option>
              <option>安徽省</option>
              <option>福建省</option>
              <option>江西省</option>
              <option>山东省</option>
              <option>河南省</option>
              <option>湖北省</option>
              <option>湖南省</option>
              <option>广东省</option>
              <option>广西壮族自治区</option>
              <option>海南省</option>
              <option>重庆</option>
              <option>四川省</option>
              <option>贵州省</option>
              <option>云南省</option>
              <option>西藏自治区</option>
              <option>陕西省</option>
              <option>甘肃省</option>
              <option>青海省</option>
              <option>宁夏回族自治区</option>
              <option>新疆维吾尔自治区</option>
              <option>台湾省</option>
              <option>香港特别行政区</option>
              <option>澳门特别行政区</option>
              </select>
            </div>
          </dd>
          <br>
          <dd>
          <label for="municipality" class="col-sm-2 control-label">Municipality</label>
          <div class="col-sm-4">
            <select class="form-control" type="text" id="municipality" name="municipality" value="{{store.municipality}}">
            <option>--</option>
            </select>
          </div>
          </dd>
          <br>
          <dd>
          <label for="area" class="col-sm-2 control-label">Area</label>
            <div class="col-sm-4">
              <select class="form-control" type="text" id="area" name="area" value="{{store.area}}">
                <option>--</option>
              </select>
            </div>
          </dd>
          <br>
          <dd>
          <label for="store-address" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="address" name="address" value="{{ store.address }}" placeholder="address">
          </div>
          </dd>
          <br>
          <dd>
          <label for="store-telephone" class="col-sm-2 control-label">telephone</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="telephone" name="telephone" value="{{ store.telephone }}" placeholder="telephone">
          </div>
          </dd>
          <br>
          <dd>
          <label for="store-options" class="col-sm-2 control-label">Options</label>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">save</button>
            <a href="/appbg/store/{{language}}" class="btn btn-default">back</a>
          </div>
          </dd>
          <br>
        </dl>
      </form>
      <hr>
    </div>
  </div>
</div>
<script>
  $().ready(function() {
    console.log($("#province").attr("value"));
    /*
    $("#province").val($("#province").attr("value"));
    $("#municipality").val($("#municipality").attr("value"));
    $("#area").val($("#area").attr("value"));
    */
    $("#province").change(function(){
      var text = $("#province").find("option:selected").text();
      $.post('/appbg/store/getcity/'+$("body").attr("lan"), {province: text}, function(data){
        console.log(data);
        $("#municipality").children("option").remove();
        $("#municipality").append("<option>--</option>");
        for(var i=0;i<data.val.length;i++){
          $("#municipality").append("<option>" + data.val[i] + "</option>");
        }
      },'json');
    });
    $("#municipality").change(function(){
      var text1 = $("#municipality").find("option:selected").text();
      var text2 = $("#province").find("option:selected").text();
      $.post('/appbg/store/getarea/'+$("body").attr("lan"), {city: text1, province: text2}, function(data){
        console.log(data);
        $("#area").children("option").remove();
        $("#area").append("<option>--</option>");
        for(var i=0;i<data.val.length;i++){
          $("#area").append("<option>" + data.val[i] + "</option>");
        }
      },'json');
  });
  });
</script>
{% endblock %}
