{% extends "../base.html" %}

{% block css_files %}
  <link rel="stylesheet" href="/css/utils/bootstrap-pagination.css"/>
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Essilor App Background</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>

      <h2 class="sub-header">Store List</h2>
      <button class="btn btn-primary" id="addstore">Add Store</button>
      <button class="btn btn-danger">Delete All</button>
      <div class="table-responsive">
        <table class="table table-striped" totalPages="{{totalPages}}">
          <thead>
            <tr>
              <th class="col-sm-1">Store</th>
              <th class="col-sm-1">Province</th>
              <th class="col-sm-1">Municipality</th>
              <th class="col-sm-1">Area</th>
              <th class="col-sm-3">Address</th>
              <th class="col-sm-2">GPS</th>
              <th class="col-sm-1">Telephone</th>
              <th class="col-sm-1">Operation</th>
            </tr>
          </thead>
          <tbody id="store-list">
            {%for store in stores%}
            <tr data-id="{{ store._id.toString() }}">
              <td>{{store.name}}</td>
              <td>{{store.province}}</td>
              <td>{{store.municipality}}</td>
              <td>{{store.area}}</td>
              <td>{{store.address}}</td>
              <td>{{store.gps}}</td>
              <td>{{store.telephone}}</td>
              <td>
                <ul class=list-inline>
                  <li><a href="#" class="a-editgps">edit-gps</a></li>
                  <li><a href="edit/{{ store._id.toString() }}/{{language}}" class="a-edit-store">edit</a></li>
                  <li><a href="#" class="a-del-store">delete</a></li>
                </ul>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        </div>
        <div class="pagination">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-store-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Gps of store</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="store-lng" class="col-sm-2 control-label">Longitude</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="store-lng" name="store-lng" placeholder="Lng">
            </div>
          </div>

          <div class="form-group">
            <label for="store-lat" class="col-sm-2 control-label">Latitude</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="store-lat" name="store-lat" placeholder="Lat">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        <button type="button" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
</div><!-- End modal -->

<script>
  // 增加门店
  $("#addstore").click(function(){
    window.location.href="new/{{language}}";
  });
  $('.main .btn-danger').click(function(event){
    if (!confirm('Do you really want to delete all data？')) {       // 要求确认
      return ;
    }
    $.post('/appbg/store/delall/{{language}}',{},function(data){
      if (data.ret === 1) {
        return $("tbody").empty();
      }
      alert("Delete error!");
    },'json');
  });
  $('tbody').click(function(event){
    if ($(event.target).context.className === "a-del-store") {
      event.preventDefault();       // 页面的焦点不变
      var tr = $(event.target).parent().parent().parent().parent();
      var storeid = tr.attr("data-id");
      deleteStore(storeid, tr);
    } else if ($(event.target).context.className === "a-editgps") {
      event.preventDefault();
      var tr = $(event.target).parent().parent().parent().parent();
      var storeid = tr.attr("data-id");
      editgps(storeid, tr);
    }
  });
  // 编辑GPS
  function editgps(id, target) {
    $("#store-lng").val("");
    $("#store-lat").val("");
    $(".activetr").removeClass("activetr");
    $(target).addClass("activetr");
    $("#modal-store-edit").modal("show");
  }
  $(".modal-footer .btn-primary").click(function(event) {
    var lng = $("#store-lng").val();
    var lat = $("#store-lat").val();
    if (isNaN(parseFloat(lng)) || isNaN(parseFloat(lat))) {
      alert("Please input float.");
      return;
    }
    var id  = $(".activetr").attr("data-id");
    $.post("/appbg/store/editgps/"+$("body").attr("lan"), {
      id  : id,
      lng : lng,
      lat : lat
    }, function(data) {
      if (data.ret !== 1) {
        alert("Fail to update Lan and Lat.")
        return ;
      }
      $($(".activetr").children("td")[5]).text(lng+","+lat);
      $("#modal-store-edit").modal("hide");
    }, "json");
  });
  // 删除store
  function deleteStore(id, target){
    if (!confirm('Do you really want to delete it？')) {       // 要求确认
      return ;
    }
    $.post(
    '/appbg/store/del/',
    {
      _id: id
    }, function(data){
    if (data.ret === 1){
      return target.remove();
    }
    alert("Delete error!");
    }, 'json');
  };
  $().ready(function(){
    var options = {
      currentPage: 1,
      totalPages: parseInt($("table").attr("totalPages")),
      numberOfPages: 20,
      onPageChanged: function(e,oldPage,newPage){
        $.post("/appbg/store/"+$("body").attr("lan"), {
          _id     : $("#_id").val(),
          perPage : 20,
          page    : newPage
        }, function(data){
          if (data.ret !== 1) {
            return ;
          }
          $("#store-list tr").remove();
          for (var i=0; i<data.val.length; i++) {
            var store = data.val[i];
            var new_tr = '<tr data-id="'+ store._id.toString() + '">' +
            '<td>' + store.name         + '</td>' +
            '<td>' + store.province     + '</td>' +
            '<td>' + store.municipality + '</td>' +
            '<td>' + store.area         + '</td>' +
            '<td>' + store.address      + '</td>' +
            '<td>' + store.gps          + '</td>' +
            '<td>' + store.telephone    + '</td>' +
            '<td>' +
              '<ul class=list-inline>'  +

                  '<li><a href="#" class="a-editgps">edit-gps</a></li>' +

                 '<li><a href="edit/' + store._id.toString() + '/' + store.lan + '" class="a-edit-store">edit</a></li>' + 

                 '<li><a href="#" class="a-del-store">delete</a></li>' +
              '</ul>' +
            '</td>' +
            '</tr>';
            $("#store-list").append(new_tr);
          }
        }, "json");
      }
    };
    if ($("#_id").val() !== "")
      $(".pagination").bootstrapPaginator(options);
  });
</script>
{% endblock %}

