{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">宝岛眼镜App后台</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">推送IOS版本更新</a></li>
        <li><a href="#">推送Android版本更新</a></li>
        <li><a>                </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    {% include "../leftbars.html" %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ Title }}</h1>
      <h2 class="page-header">Android现有版本</h2>
      {%if version !== undefined%}
      <dl class="des-list dl-horizontal">
        <dd>
        <label class="col-sm-2 control-label">版本号</label>
        <div class="col-sm-6">
          <label>{{version.number}}</label>
        </div>
        </dd>
        <br>

        <dd>
        <label class="col-sm-2 control-label">版本名称</label>
        <div class="col-sm-6">
          <label>{{version.name}}</label>
        </div>
        </dd>
        <br>

        <dd>
        <label class="col-sm-2 control-label">下载地址</label>
        <div class="col-sm-6">
          <label>服务器地址 + {{version.url}}</label>
        </div>
        </dd>
        <br>

        <dd>
        <label class="col-sm-2 control-label">更新时间</label>
        <div class="col-sm-6">
          <label>{{version.time | date('Y-m-d H:i:s')}}</label>
        </div>
        </dd>
        <br>

        <dd>
        <label class="col-sm-2 control-label">版本描述</label>
        <div class="col-sm-6">
          <label>{{version.detail}}</label>
        </div>
        </dd>
        <br>
      </dl>
      {%else%}
      <dl class="des-list dl-horizontal">
        <dd>
        <label class="col-sm-2 control-label">版本号</label>
        <div class="col-sm-6">
          <label>无</label>
        </div>
        </dd>
        <br>
      </dl>
      {%endif%}
      <h2 class="page-header">Android版本管理</h2>
      <form id="form-update" class="form-android-version" role="form" enctype="multipart/form-data" method="post" action="/appbg/appversion/update/"> 
        <dl class="des-list dl-horizontal">
          <dd>
          <label for="news-first-pic" class="col-sm-2 control-label">文件</label>
          <div class="col-sm-6">
            <input type="file" name="apkfile">
          </div>
          </dd>
          <br>

          <dd>
          <label class="col-sm-2 control-label">版本号</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="version-number" name="version-number" placeholder="例如：1.0.0">
          </div>
          </dd>
          <br>

          <dd>
          <label class="col-sm-2 control-label">版本名称</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="version-name" name="version-name" placeholder="例如：第一版">
          </div>
          </dd>
          <br>

          <dd>
          <label for="push-text" class="col-sm-2 control-label">版本更新消息</label>
          <div class="col-sm-6">
            <textarea class="form-control" rows="6" id="version-detail" name="version-detail" placeholder="例如：增加登录注册功能"></textarea>
          </div>
          </dd>
          <br>

          <dd class="options">
          <label for="" class="col-sm-2 control-label">操作</label>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
          <br>
          </dd>
        </dl>
      </form>
      <hr>
    </div>
  </div>
</div>
<script>
  $("").click(function(event){
    var num   = $("#version-number").val();
    var name  = $("#version-name").val();
    var time  = new Date();
    var detail= $("#version-detail").val();

    $.post("/appbg/uvindex/update/", // 版本更新
      {
        number: num,
        name  : name,
        time  : time,
        detail: detail
      }, function(data){
      if (data.status) {
        alert("推送请求发送成功, 服务器正在推送");
      } else {
        alert("请求失败");
      }
    }, "json");
  });
</script>
{% endblock %}
